@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

body{
    background-color: #f7f8fa;
} 

/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6d6d6; /* Set the color of the thumb */
    border-radius: 4px; /* Set the border radius of the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #c5c5c5; /* Set the color of the thumb on hover */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #edf2f7; /* Set the color of the track */
  }
  
  ::-webkit-scrollbar-track:hover {
    background-color: #e2e8f0; /* Set the color of the track on hover */
  }
  